@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Kumbh Sans";
  min-width: 375px;
}

body .msj-container-alert-disable {
  display: none;
}
body .msj-container-alert {
  width: 90vw;
  height: 70vh;
  background-color: #f7f8fd;
  border-radius: 10px;
  position: absolute;
  top: 10vh;
  left: 5vw;
  z-index: 10;
  box-shadow: 0px 0px 20px 20px rgba(185, 185, 185, 0.657);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .msj-container-alert .bx {
  margin-bottom: 80px;
  font-size: 18rem;
  color: green;
}
body .msj-container-alert p {
  font-size: 3.4rem;
  font-weight: 700;
}
body .msj-container-alert button {
  background-color: #ff7d1a;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
}

header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: auto;
  padding: 20px 15px;
}
header div {
  display: flex;
  height: 3rem;
}
header div i {
  font-size: 3rem;
  margin-right: 20px;
}
header .header-conteiner-left {
  position: relative;
}
header .header-conteiner-left .bx-x {
  position: absolute;
  left: -5px;
  z-index: 3;
  color: #68707d;
}
header .header-conteiner-left img {
  height: 25px;
}
header .header-conteiner-left .list-disable {
  display: none;
}
header .header-conteiner-left .list {
  position: absolute;
  background-color: white;
  left: -15px;
  min-height: 152vh;
  width: 70vw;
  z-index: 2;
  padding-top: 40px;
}
header .header-conteiner-left .list li {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 30px 0 0 0px;
  padding: 5px 0 10px 20px;
  background-color: #f7f8fd;
}
header .header-conteiner-left .list li a {
  display: flex;
  text-decoration: none;
  color: black;
  width: 100%;
  align-items: center;
}
header .header-conteiner-left .list li .bx {
  font-size: 3rem;
  margin-right: 5px;
}
header .header-conteiner-left .list hr {
  margin-block: 20px;
}
header .header-conteiner-right {
  position: relative;
  display: flex;
  justify-content: end;
}
header .header-conteiner-right .cart-container {
  position: relative;
}
header .header-conteiner-right .cart-container .cart_amount {
  position: absolute;
  top: -5px;
  right: 0;
  background-color: #ff7d1a;
  color: white;
  font-weight: 700;
  height: -webkit-max-content;
  height: max-content;
  padding: 3px 10px;
  border-radius: 10px;
}
header .header-conteiner-right .cart-container .cart_amount-disable {
  display: none;
}
header .header-conteiner-right .cart-items-container-disable {
  display: none;
}
header .header-conteiner-right .cart-items-container, header .header-conteiner-right .user-section {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: -60vw;
  bottom: -345px;
  background-color: white;
  height: 300px;
  width: 90vw;
  border-radius: 10px;
  padding: 15px 0px 30px;
  box-shadow: 0px 7px 20px 0px gray;
  z-index: 5;
}
header .header-conteiner-right .cart-items-container .cart-items-title-container, header .header-conteiner-right .user-section .cart-items-title-container {
  font-size: 2.6rem;
  font-weight: 700;
  margin: 20px;
}
header .header-conteiner-right .cart-items-container .cart-empty-msj-disable, header .header-conteiner-right .user-section .cart-empty-msj-disable {
  display: none;
}
header .header-conteiner-right .cart-items-container .cart-empty-msj, header .header-conteiner-right .user-section .cart-empty-msj {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
}
header .header-conteiner-right .cart-items-container .second-section-cart-disable, header .header-conteiner-right .user-section .second-section-cart-disable {
  display: none;
}
header .header-conteiner-right .cart-items-container .second-section-cart, header .header-conteiner-right .user-section .second-section-cart {
  display: grid;
  grid-template-columns: 1fr 5fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  align-items: center;
  padding: 30px 20px;
}
header .header-conteiner-right .cart-items-container .second-section-cart span, header .header-conteiner-right .user-section .second-section-cart span {
  display: block;
  height: 65px;
  width: 65px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  grid-column: 1/2;
  grid-row: 1/2;
  border-radius: 10px;
  background-image: url("../images/image-product-1.jpg");
}
header .header-conteiner-right .cart-items-container .second-section-cart div, header .header-conteiner-right .user-section .second-section-cart div {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 0;
}
header .header-conteiner-right .cart-items-container .second-section-cart div p, header .header-conteiner-right .user-section .second-section-cart div p {
  font-weight: 400;
  font-size: 1.6rem;
}
header .header-conteiner-right .cart-items-container .second-section-cart .bxs-trash, header .header-conteiner-right .user-section .second-section-cart .bxs-trash {
  position: initial;
  grid-row: 1/2;
  grid-column: 3/4;
  justify-self: end;
  align-self: center;
  color: #68707d;
  font-size: 3rem;
  margin-right: -10px;
}
header .header-conteiner-right .cart-items-container .second-section-cart button, header .header-conteiner-right .user-section .second-section-cart button {
  grid-column: 1/4;
  grid-row: 2/3;
  background-color: #ff7d1a;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 20px;
}
header .header-conteiner-right .user-icon {
  height: inherit;
}
header .header-conteiner-right .user-section-disable {
  display: none;
}
header .header-conteiner-right .user-section {
  left: -60vw;
  margin: 0;
  padding: 0;
}
header .header-conteiner-right .user-section .user-section--first {
  display: flex;
  border-bottom: 1px solid #b6bcc8;
  padding: 20px;
  height: 90px;
  align-items: center;
  gap: 10px;
}
header .header-conteiner-right .user-section .user-section--first .user-section--icon {
  width: 60px;
  height: 60px;
}
header .header-conteiner-right .user-section .user-section--first > div {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  font-weight: 700;
}
header .header-conteiner-right .user-section .user-section-second ul {
  width: 100%;
}
header .header-conteiner-right .user-section .user-section-second ul .user-menu-items {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
  margin-block: 10px;
  background-color: #f7f8fd;
  width: 100%;
}
header .header-conteiner-right .user-section .user-section-second ul .user-menu-items a {
  display: flex;
  text-decoration: none;
  color: black;
  width: 100%;
  align-items: center;
}
header .header-conteiner-right .user-section .user-section-second ul .user-menu-items .bx {
  margin-right: 10px;
}

main #picture-article {
  display: block;
  position: relative;
  height: 350px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main #picture-article .bx {
  position: absolute;
  top: 45%;
  border-radius: 50%;
  padding: 3px;
  background-color: white;
  font-size: 3rem;
}
main #picture-article .bx:active {
  color: #ff7d1a;
}
main #picture-article .bx-chevron-left {
  left: 20px;
}
main #picture-article .bx-chevron-right {
  right: 20px;
}
main .back-img1 {
  background-image: url("../images/image-product-1.jpg");
}
main .back-img2 {
  background-image: url("../images/image-product-2.jpg");
}
main .back-img3 {
  background-image: url("../images/image-product-3.jpg");
}
main .back-img4 {
  background-image: url("../images/image-product-4.jpg");
}
main > div {
  margin: 20px 30px;
}
main .text-container {
  display: grid;
  grid-template-rows: auto;
  gap: 20px;
}
main .text-container p {
  font-size: 1.6rem;
}
main .text-container .first-text-article {
  color: #ff7d1a;
  text-transform: uppercase;
  font-weight: 700;
}
main .text-container .title-article {
  font-size: 3.4rem;
}
main .text-container .desciption-article {
  line-height: 30px;
}
main .price-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-block: 20px;
}
main .price-container p {
  width: -webkit-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: max-content;
}
main .price-container #price-final {
  font-size: 3.4rem;
  font-weight: 700;
  justify-self: right;
  margin-right: 5px;
}
main .price-container #price-discount {
  color: #ff7d1a;
  background-color: #fbd6bc;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1px 7px;
}
main .price-container #price-article {
  font-size: 1.3rem;
  color: #68707d;
  text-decoration: line-through;
  justify-self: center;
}
main .amount-btn-divs-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main .amount-btn-divs-container .amount-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  background-color: #f7f8fd;
  border-radius: 10px;
  padding-block: 20px;
  align-items: center;
}
main .amount-btn-divs-container .amount-container .bx {
  color: #ff7d1a;
  font-size: 3rem;
}
main .amount-btn-divs-container .amount-container p {
  font-weight: 700;
  font-size: 1.6rem;
  justify-self: center;
}
main .amount-btn-divs-container .amount-container .bx-plus:active,
main .amount-btn-divs-container .amount-container .bx-minus:active {
  color: #fbd6bc;
}
main .amount-btn-divs-container .amount-container .bx-plus {
  justify-self: end;
}
main .amount-btn-divs-container .amount-container .bx-minus {
  justify-self: start;
}
main .amount-btn-divs-container .btn-container button {
  background-color: #ff7d1a;
  height: inherit;
  padding: 20px 0;
  font-size: 1.6rem;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 10px 15px 3px #fbd6bc;
}
main .amount-btn-divs-container .btn-container button:active {
  background-color: #fbd6bc;
}
main .amount-btn-divs-container .btn-container button i {
  margin-right: 10px;
}

footer {
  background-color: #b6bcc8;
}
footer .attribution {
  font-size: 1.6rem;
  text-align: center;
  padding: 5px;
  font-weight: 700;
}
footer .attribution a {
  color: #3e52a3;
}

@media only screen and (min-width: 1024px) {
  html body {
    padding-inline: 30px;
  }
  html body .msj-container-alert {
    width: 50vw;
    left: 25vw;
  }
  html body footer {
    margin-inline: -30px;
  }
  html header {
    margin-bottom: 0;
    border-bottom: #68707d 1px solid;
  }
  html header .header-conteiner-left .bx-menu {
    display: none;
  }
  html header .header-conteiner-left #listId {
    display: flex;
    margin-left: 50px;
  }
  html header .header-conteiner-left #listId .bx {
    display: none;
  }
  html header .header-conteiner-left #listId li {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 700;
    color: #68707d;
    margin-inline: 10px;
  }
  html header .header-conteiner-left #listId .user-menu-items {
    display: none;
  }
  html header .header-conteiner-right .cart-items-container, html header .header-conteiner-right .user-section {
    top: 55px;
    left: -110px;
    width: 40vw;
    margin: 0;
  }
  html main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 1fr;
    gap: 30px;
    padding: 70px;
  }
  html main #picture-article {
    grid-column: 1/2;
    grid-row: 1/2;
    border-radius: 10px;
    height: auto;
  }
  html main #picture-article > .bx {
    display: none;
  }
  html main #picture-article .cart-items-container, html main #picture-article header .header-conteiner-right .user-section, header .header-conteiner-right html main #picture-article .user-section {
    top: -90px;
    left: 52vw;
  }
  html main .img-container-desktop {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  html main .img-container-desktop .imgs {
    display: block;
    position: relative;
    height: 90px;
    width: 90px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  html main .img-container-desktop .imgs:hover {
    filter: brightness(0.7);
    border: 1px #ff7d1a solid;
  }
  html main .dates-content {
    display: flex;
    flex-direction: column;
    padding: 70px 40px 20px;
    gap: 30px;
  }
  html main .dates-content .text-container {
    grid-column: 2/4;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
  }
  html main .dates-content .price-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: -webkit-max-content;
    width: max-content;
    gap: 5px;
  }
  html main .dates-content .price-container #price-final {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: left;
  }
  html main .dates-content .price-container #price-article {
    grid-row: 2/3;
    justify-self: left;
  }
  html main .dates-content .price-container #price-discount {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: left;
  }
  html main .dates-content .amount-btn-divs-container {
    flex-direction: row;
    height: 59px;
  }
  html main .dates-content .amount-btn-divs-container > div {
    margin: 0;
    padding: 0;
    width: 45%;
    height: 100%;
  }
}