footer {
    background-color: $color-Grayish-blue;
    .attribution {
        font-size : $font-size;
        text-align: center;
        padding: 5px;
        font-weight: $font-weight2;
    }
    
    .attribution a {
        color: hsl(228, 45%, 44%);
    }
}