main {
    #picture-article {
        display            : block;
        position           : relative;
        height             : 350px;
        background-position: center;
        background-size    : cover;
        background-repeat  : no-repeat;

        .cart-items-container-disable {
            display: none;
        }

        .cart-items-container {
            position        : absolute;
            left            : 5%;
            background-color: $color-White;
            height          : 300px;
            width           : 90%;
            border-radius   : 10px;
            padding         : 15px 0px 30px;
            box-shadow      : 0px 7px 20px 0px gray;
            margin-top      : 25px;

            .cart-items-title-container {
                font-size  : $font-size + 1;
                font-weight: $font-weight2;
                margin     : 20px;
            }

            hr {}

            .cart-empty-msj-disable {
                display: none;
            }

            .cart-empty-msj {
                font-size  : $font-size;
                font-weight: $font-weight2;
                text-align : center;
            }

            .second-section-cart-disable {
                display: none;
            }

            .second-section-cart {
                display              : grid;
                grid-template-columns: 1fr 5fr .5fr;
                grid-template-rows   : 1fr 1fr;
                gap                  : 10px;
                align-items          : center;
                padding              : 30px 20px;

                span {
                    @extend .back-img1;
                    display            : block;
                    height             : 65px;
                    width              : 65px;
                    background-position: center;
                    background-size    : contain;
                    background-repeat  : no-repeat;
                    grid-column        : 1 / 2;
                    grid-row           : 1 / 2;
                    border-radius      : 10px;
                }

                div {
                    grid-column: 2 / 3;
                    grid-row   : 1 / 2;
                    padding    : 0;

                    p {
                        font-weight: $font-weight1;
                        font-size  : $font-size;
                    }
                }

                .bxs-trash {
                    position    : initial;
                    grid-row    : 1 / 2;
                    grid-column : 3 / 4;
                    justify-self: end;
                    align-self  : center;
                    color       : $color-Dark-grayish-blue;
                    font-size   : $font-size-bx;
                    margin-right: -10px;
                }

                button {
                    grid-column     : 1 / 4;
                    grid-row        : 2 / 3;
                    background-color: $primary-color-orange;
                    border-radius   : 10px;
                    border          : none;
                    color           : $color-White;
                    font-size       : $font-size;
                    font-weight     : $font-weight2;
                    padding         : 20px;
                }
            }
        }

        .bx {
            position        : absolute;
            top             : 45%;
            border-radius   : 50%;
            padding         : 3px;
            background-color: $color-White;
            font-size       : $font-size-bx;

            &:active {
                color: $primary-color-orange;
            }
        }

        .bx-chevron-left {
            left: 20px;
        }

        .bx-chevron-right {
            right: 20px;
        }
    }

    .back-img1 {
        background-image: url('../images/image-product-1.jpg');
    }

    .back-img2 {
        background-image: url('../images/image-product-2.jpg');
    }

    .back-img3 {
        background-image: url('../images/image-product-3.jpg');
    }

    .back-img4 {
        background-image: url('../images/image-product-4.jpg');
    }

    &>div {
        margin: 20px 30px;
    }

    .text-container {
        display           : grid;
        grid-template-rows: auto;
        gap               : 20px;

        p {
            font-size: $font-size;
        }

        .first-text-article {
            color         : $primary-color-orange;
            text-transform: uppercase;
            font-weight   : $font-weight2;
        }

        .title-article {
            font-size: $font-size-title;

        }

        .desciption-article {
            line-height: 30px;
        }
    }

    .price-container {
        display              : grid;
        grid-template-columns: 1fr 1fr 1fr;

        p {
            width : max-content;
            height: max-content;
        }

        #price-final {
            font-size   : $font-size-title;
            font-weight : $font-weight2;
            justify-self: right;
            margin-right: 5px;
        }

        #price-discount {
            color           : $primary-color-orange;
            background-color: $primary-color-pale-orange;
            font-size       : $font-size;
            font-weight     : $font-weight2;
            padding         : 1px 7px;
        }

        #price-article {
            font-size      : $font-size - 0.3;
            color          : $color-Dark-grayish-blue;
            text-decoration: line-through;
            justify-self   : center;
        }
    }

    .amount-container {
        display              : grid;
        grid-template-columns: repeat(3, auto);
        background-color     : $color-Light-grayish-blue;
        border-radius        : 10px;
        padding-block        : 20px;

        .bx {
            color    : $primary-color-orange;
            font-size: $font-size-bx;
        }

        p {
            font-weight : $font-weight2;
            font-size   : $font-size;
            justify-self: center;
        }

        .bx-plus {
            justify-self: end;
        }

        .bx-minus {
            justify-self: start;
        }
    }

    .btn-container {

        button {
            background-color: $primary-color-orange;
            padding         : 20px 0;
            font-size       : $font-size;
            font-weight     : $font-weight2;
            color           : $color-White;
            border          : none;
            border-radius   : 10px;
            width           : 100%;
            box-shadow      : 0 10px 15px 3px $primary-color-pale-orange;

            i {
                margin-right: 10px;
            }
        }
    }
}