main {
    #picture-article {
        display            : block;
        position           : relative;
        height             : 350px;
        background-position: center;
        background-size    : cover;
        background-repeat  : no-repeat;




        .bx {
            position        : absolute;
            top             : 45%;
            border-radius   : 50%;
            padding         : 3px;
            background-color: $color-White;
            font-size       : $font-size-bx;

            &:active {
                color: $primary-color-orange;
            }
        }

        .bx-chevron-left {
            left: 20px;
        }

        .bx-chevron-right {
            right: 20px;
        }
    }

    .back-img1 {
        background-image: url('../images/image-product-1.jpg');
    }

    .back-img2 {
        background-image: url('../images/image-product-2.jpg');
    }

    .back-img3 {
        background-image: url('../images/image-product-3.jpg');
    }

    .back-img4 {
        background-image: url('../images/image-product-4.jpg');
    }

    &>div {
        margin: 20px 30px;
    }

    .text-container {
        display           : grid;
        grid-template-rows: auto;
        gap               : 20px;

        p {
            font-size: $font-size;
        }

        .first-text-article {
            color         : $primary-color-orange;
            text-transform: uppercase;
            font-weight   : $font-weight2;
        }

        .title-article {
            font-size: $font-size-title;

        }

        .desciption-article {
            line-height: 30px;
        }
    }

    .price-container {
        display              : grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-block        : 20px;

        p {
            width : max-content;
            height: max-content;
        }

        #price-final {
            font-size   : $font-size-title;
            font-weight : $font-weight2;
            justify-self: right;
            margin-right: 5px;
        }

        #price-discount {
            color           : $primary-color-orange;
            background-color: $primary-color-pale-orange;
            font-size       : $font-size;
            font-weight     : $font-weight2;
            padding         : 1px 7px;
        }

        #price-article {
            font-size      : $font-size - 0.3;
            color          : $color-Dark-grayish-blue;
            text-decoration: line-through;
            justify-self   : center;
        }
    }

    .amount-btn-divs-container {
        display       : flex;
        flex-direction: column;
        gap           : 10px;

        .amount-container {
            display              : grid;
            grid-template-columns: repeat(3, auto);
            background-color     : $color-Light-grayish-blue;
            border-radius        : 10px;
            padding-block        : 20px;

            align-items: center;

            .bx {
                color    : $primary-color-orange;
                font-size: $font-size-bx;
            }

            p {
                font-weight : $font-weight2;
                font-size   : $font-size;
                justify-self: center;
            }

            .bx-plus,
            .bx-minus {
                &:active {
                    color: $primary-color-pale-orange;
                }
            }

            .bx-plus {
                justify-self: end;
            }

            .bx-minus {
                justify-self: start;
            }
        }

        .btn-container {
            button {
                background-color: $primary-color-orange;
                height          : inherit;
                padding         : 20px 0;
                font-size       : $font-size;
                font-weight     : $font-weight2;
                color           : $color-White;
                border          : none;
                border-radius   : 10px;
                width           : 100%;
                box-shadow      : 0 10px 15px 3px $primary-color-pale-orange;

                &:active {
                    background-color: $primary-color-pale-orange;
                }

                i {
                    margin-right: 10px;
                }
            }
        }
    }
}