$body-background: linear-gradient(to right, #434343 0%, black 100%);
$register-container-background: rgba(255, 255, 255,0.1);
$white: #fff;

$color-Black             :hsl(0, 0%, 0%);
$color-White             :hsl(0, 0%, 100%);
$color-Light-grayish-blue: hsl(223, 64%, 98%);
$color-Very-vark-blue    : hsl(220, 13%, 13%);
$color-Dark-grayish-blue : hsl(219, 9%, 45%);
$color-Grayish-blue      : hsl(220, 14%, 75%);

$primary-color-orange: hsl(26, 100%, 55%);
$primary-color-pale-orange: hsl(25, 88%, 86%);



$register-button: rgba(255, 255, 255,0.1);
$register-min-height:calc(100vh - 200px);

$font-page: 'Public Sans', sans-serif;